.search-bar {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
    border-color: rgba(190, 190, 190, 0.8);
    width: 561px;
    height: 44px;
    padding-left: 25px;
    padding-right: 25px;
}
.input {
    width: 100%;
    border-color: transparent;
    font-size: 16px;
    margin-left: 20px;
}
.input:focus {
    outline: none;
}
.search-icon {
    position: relative;
    top: 6px;
}